.hero-section {
  background: url(./banner_kota_bogor.jpg);
  background-size: cover;
  color: white;
  padding: 100px 0;
}
.card-stats {
  transition: transform 0.3s;
}
.card-stats:hover {
  transform: translateY(-10px);
}
